<a href="/"><h1 class="text-yellow-500 px-[10px] items-center bg-gray-950 text-center font-bold w-full text-[50px]">Contenu de la tâche</h1></a><br>


<p class="text-red-600 text-[1.5vw] text-center font-bold"><strong>Jour d'execution :</strong> <%= @task.dayforexecution %></p><br><br>
<div class="text-center">
  <%= link_to 'Retour', tasks_path, class:"text-center hover:bg-gray-900 hover:rounded w-[10%] mt-[2vw] p-2  text-xl font-bold text-yellow-600"%>
</div>
